.movie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  max-width: 100%;
  background-color: white;
  padding: 0 10px 10px 0;
}

.movie__pic {
  grid-column-start: 1;
  grid-row-end: 2;
  margin-right: 5px;
}

.movie__desc {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 5px;
}

.movie:hover {
  border: 1px solid black;
  overflow: hidden;
}

.movie__desc,
.roles {
  text-align: left;
}

.movie__item h3 {
  color: red;
}

.movie__item p {
  margin: 0 0 5px 0;
}

.roles__actors {
  font-size: 20px;
  color: red;
  margin: 0;
}

.roles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  
}

.movie__pic img {
  max-width: 100%;
}